@model App.BLL.DTO.Inventory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address!.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AllowedRoles)
        </dt>
        <dd class="col-sm-10">
            @if (Model.AllowedRoles != null && Model.AllowedRoles.Any())
            {
                <ul>
                    @foreach (var role in Model.AllowedRoles)
                    {
                        <li>@role</li>
                    }
                </ul>
            }
            else
            {
                <span class="text-muted">No roles assigned</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
