@using App.Domain.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Base.Resources.Common.Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@Base.Resources.Common.Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/swagger">Api</a>
                    </li>

                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                           <!-- Dropdown for multiple links -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                           Actions
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Actions" asp-action="Index">Actions</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="ActionTypes" asp-action="Index">ActionType</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Addresses" asp-action="Index">Address</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="CurrentStocks" asp-action="Index">CurrentStocks</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Inventories" asp-action="Index">Inventories</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="Index">Products</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="ProductCategories" asp-action="Index">ProductCategory</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Reasons" asp-action="Index">Reason</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="StockAudits" asp-action="Index">StockAudits</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="StockMovements" asp-action="Index">StockMovement</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="StorageRooms" asp-action="Index">StorageRoom</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="StorageRoomInInventories" asp-action="Index">StorageRoomInInventories</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Suppliers" asp-action="Index">Suppliers</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Persons" asp-action="Index">Person</a></li>
                        </ul>
                    </li>
                    }

                    @if (User.IsInRole("admin"))
                    {
                        <!-- Dropdown for multiple links -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Actions
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="admin" asp-controller="Actions" asp-action="Index">Actions</a></li>
                                <li><a class="dropdown-item" asp-area="admin" asp-controller="ActionTypes" asp-action="Index">ActionType</a></li>
                                <li><a class="dropdown-item" asp-area="admin" asp-controller="Addresses" asp-action="Index">Address</a></li>
                                <li><a class="dropdown-item" asp-area="admin" asp-controller="CurrentStocks" asp-action="Index">CurrentStocks</a></li>
                                <li><a class="dropdown-item" asp-area="admin" asp-controller="Inventories" asp-action="Index">Inventories</a></li>
                                <li><a class="dropdown-item" asp-area="admin" asp-controller="Products" asp-action="Index">Products</a></li>
                                <li><a class="dropdown-item" asp-area="admin" asp-controller="ProductCategories" asp-action="Index">ProductCategory</a></li>
                                <li><a class="dropdown-item" asp-area="admin" asp-controller="Reasons" asp-action="Index">Reason</a></li>
                                <li><a class="dropdown-item" asp-area="admin" asp-controller="StockAudits" asp-action="Index">StockAudits</a></li>
                                <li><a class="dropdown-item" asp-area="admin" asp-controller="StockMovements" asp-action="Index">StockMovement</a></li>
                                <li><a class="dropdown-item" asp-area="admin" asp-controller="StorageRooms" asp-action="Index">StorageRoom</a></li>
                                <li><a class="dropdown-item" asp-area="admin" asp-controller="StorageRoomInInventories" asp-action="Index">StorageRoomInInventories</a></li>
                                <li><a class="dropdown-item" asp-area="admin" asp-controller="Suppliers" asp-action="Index">Suppliers</a></li>
                                <li><a class="dropdown-item" asp-area="admin" asp-controller="Persons" asp-action="Index">Person</a></li>

                                <hr class="dropdown-divider">
                                
                                <li><a class="dropdown-item" asp-area="admin" asp-controller="Users"  asp-action="Index">Users</a></li>
                                <li><a class="dropdown-item" asp-area="admin" asp-controller="Roles"  asp-action="Index">Roles</a></li>
                                <li><a class="dropdown-item" asp-area="admin" asp-controller="UserRoles"  asp-action="Index">User Roles</a></li>
                                <li><a class="dropdown-item" asp-area="admin" asp-controller="RefreshTokens"  asp-action="Index">Refresh tokens</a></li>

                                <hr class="dropdown-divider">

                                <li><a class="dropdown-item" asp-area="admin" asp-controller="UserManagement"  asp-action="Index">User Management</a></li>
                            </ul>
                        </li>
                    }
                    
                    <partial name="_LanguageSelection"/>
                    
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> |
        @Thread.CurrentThread.CurrentCulture.Name | @Thread.CurrentThread.CurrentCulture.Name
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>